{% extends 'main/base.html' %}
{% block title %} Create New List {% endblock %}
{% block content %}
     <h3>Check in for the day</h3>
    
     <form method="post" action="/create/" class="form-group">
         {% csrf_token %}
         
         <div class="input-group mb-3">
             <div class="input-group-prepend">
                 <button type="submit" name="save" class="btn btn-success">How are you feeling today?</button>
             </div>{{form.name}}
         </div>
    </form>
    
{% endblock %}